body{
    background-color:#FAFAFA;
    font-family: 'Ubuntu', sans-serif;
}

/* navbar */

.navbar-brand {
    margin-left: 1rem;
    height: 40px;
    width: 40px;
}

ul.nav {
    text-align: right;
    padding: 0;
    margin: 0;
    padding-right: 3vw;

}

/*.page-section {
    padding-top: 63px !important;
    margin-top: -63px !important;
}*/

a.nav-link svg{
    height:20px;
}

a.nav-link {
    transition: 0.5s;
    font-size: 1.1rem;
    color: rgb(78, 78, 78);
    margin: 40px 50px !important;
}

li a.nav-link:hover{
    transition: 0.5s;
    border-bottom: 2px solid #292929;
}

li a.active:not(.dropdown-item) {
    transition: 0.5s;
    font-weight: 600;
    color: #414141!important;
    border-bottom: 2px solid #414141;
}

.dropdown-menu {
    border-radius: 10px;
    background-color: #f8f9fa;
    border:0;
}

.dropdown-item {
    color: rgba(0, 0, 0, .5) !important;
}

.dropdown-item:hover{
    background-color: #f3f3f3;
}

.dropdown-item.active,
.dropdown-item:active {
    font-weight: 600;
    color: #414141 !important;
    background-color: #f7f7f7;
}

a#navbarDropdown.link-work {
    font-weight: 600;
    color: #414141 !important;
    border-bottom: 2px solid #414141;
}

@media screen and (max-width: 768px) {
    a#navbarDropdown.link-work{
        border-bottom: 0 !important;
    }
    
    .navbar-brand {
        height: 30px !important;
        width: 30px;
    }

    ul.nav {
        text-align: left;
        padding-top: 9px;
    }

    li a.nav-link {
        margin: 0 !important;
        font-size: 1rem;
        text-align: right;
    }

    .navbar-toggler-icon {
        width: 1.10em;
        height: 1.10em;
    }
}

/* scroll */
nav.navbar.shrink {
    min-height: 35px;
}

nav.shrink li a.nav-link {
    margin: 0 50px !important;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}

/* scroll */
nav.navbar.shrink {
    min-height: 35px;
}

nav.shrink li a.nav-link {
    margin: 0 50px !important;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}

/* Button page top*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: 1px solid rgb(63, 63, 63);
    outline: none;
    background-color: rgba(211, 211, 211, 0.8);
    color: #414141;
    cursor: pointer;
    padding: 10px 16px 10px 16px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  #myBtn:hover {
    background-color: #f3f3f3;
  }


/* PAGE CONTENT*/




.contain#top{
    padding-right: 5vw;
    padding-left: 4vw;
    background-color:#fff;
    filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));   
    margin-left: auto;
    margin-right: auto;
}

.row-start{
    padding-top:13vw;
}

.row{
    align-items: baseline;
    margin-left:0;
    margin-right:0;
}

.box-article{
    display: block;
max-width:1035.542px;
    margin:0 auto;
}

.col, .col-md-12{
    padding:20px;
}

i.fas{
    padding-left: 5px;
}

.box-img-profile{
    padding: 20px 0 20px 0;
}

  img#profile{
          border-radius: 50%;
  max-width: 70%;
  display: block;
  margin: 0 auto;
  }

/*.row-title{
    background-color: #3e939e !important;
}*/

.fas:not(.fa-arrow-up){
    margin-right: 15px;
}
  .box-title{
    padding-bottom: 2.5vw;
        padding-top: 2.5vw;
    vertical-align: middle;
      text-align:left;
  }


  .box-title h1{
    font-weight:700;
          text-transform: uppercase;
      }

  .box-title p{
margin-bottom:0;
    font-weight: 100;
    text-transform: uppercase;
}

.col-line{
    padding-top: 2.5vw;
    padding-right: 0;
    padding-left: 0;
}

/*.col-left{
    color: #d5dcdc;
    background-color:#39474b;
}

/*.row-section{
    margin-bottom: 10vw;
}*/



.contact-details{
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}

.contact-details a{
    color:#000 !important;
    font-style: italic;
    text-decoration:underline;
}

h5#title{
    text-transform:uppercase;
text-align: center;
}

.col-bar{
    max-width: 70%;
    text-align:left;
    margin: 0 auto;
}

.language-row{
    display: flow-root;
}

.language-row>h6{
    float:left;
}
.language-row>p{
    right:0;
    float:right;
}


  .col-bar#interests{
      text-align: center;
  }

i.far{
    margin-right: 10px;
}

h2#title{
font-weight: 400;
text-transform: uppercase;
/*border-bottom: 2px solid #000;*/
margin-bottom: 20px;
}

.col-section p, .language-row p, ul{
    align-items: flex-end;
    font-weight:300;
}


p#date, h7{
    font-weight: 500;
    margin-bottom: 0;
}


p#field{
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;
}

p b{
font-weight:500;
}

br{
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 7px; /* change this to whatever height you want it */
}


@media screen and (max-width: 960px) {
    .contain{
        max-width: 90%;
        padding:0 6.1vw;
    }
    .col-line {
      margin-bottom: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .col-left{
        color: #000;
    }
    .box-title{
        text-align:center;
    }

    .col, .col-md-12{
padding: 25px 0 25px 0;
  }
}


 /* FOOTER */

footer {
    background: rgb(49, 49, 49);
}

.contain#footer {
    padding: 100px 50px;
}

.contact-title {
    text-align: center;
    color: white;
}

.contact-title h1 {
    font-size: 25px;
    font-weight: bold;
}

.contact-title h2 {
    font-size: 15px;
}

form {
    margin: 10px 20px;
    padding: 30px;
    background: transparent;
    border-radius: 0px;
}

.form-control {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0;
    color: white !important;
    border-bottom: 1px solid white;
}

.form-control:focus {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
    border: 1px solid white;
}

::placeholder {
    font-style: italic;
    color: rgba(255, 255, 255, 0.6) !important;
    font-weight: 100;
    font-size: 0.90rem;
    padding: 0px !important;
}

:focus::-webkit-input-placeholder {
    color: grey !important;
}

#form-name {
    width: 100%;
    display: inline-flex;
}

input#space_right {
    margin-right: 22px;
}

form .submit {
    width: 100%;
    background: transparent;
    color: #fff;
    border: 1px solid white;
}

form .submit:hover {
    background: #5882FA;
}

div#contact {
    margin: 25% auto;
    text-align: center;
    color: white;
}

.yel {
    margin: 10px;
    height: 60px;
    fill: white;
}

@media screen and (max-width:765px) {
    form {
        margin: 10px 0px;
        padding: 30px 0;
    }

    div#contact {
        font-size: 0.75rem;
    }

    .yel {
        height: 45px;
    }
}