/* PAGE CONTENT*/

.contain#top{
    padding-right: 5vw;
    padding-left: 4vw;
    background-color:#fff;
    filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.1));   
    margin-left: auto;
    margin-right: auto;
}

.row-start{
    padding-top:13vw;
}

.row{
    align-items: baseline;
    margin-left:0;
    margin-right:0;
}

.box-article{
    display: block;
max-width:1035.542px;
    margin:0 auto;
}

.col, .col-md-12{
    padding:20px;
}

i.fas{
    padding-left: 5px;
}

.box-img-profile{
    padding: 20px 0 20px 0;
}

  img#profile{
          border-radius: 50%;
  max-width: 70%;
  display: block;
  margin: 0 auto;
  }

/*.row-title{
    background-color: #3e939e !important;
}*/

.fas:not(.fa-arrow-up){
    margin-right: 15px;
}
  .box-title{
    padding-bottom: 2.5vw;
        padding-top: 2.5vw;
    vertical-align: middle;
      text-align:left;
  }


  .box-title h1{
    font-weight:700;
          text-transform: uppercase;
      }

  .box-title p{
margin-bottom:0;
    font-weight: 100;
    text-transform: uppercase;
}

.col-line{
    padding-top: 2.5vw;
    padding-right: 0;
    padding-left: 0;
}

/*.col-left{
    color: #d5dcdc;
    background-color:#39474b;
}

/*.row-section{
    margin-bottom: 10vw;
}*/



.contact-details{
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}

.contact-details a{
    color:#000 !important;
    font-style: italic;
    text-decoration:underline;
}

h5.title{
    text-transform:uppercase;
text-align: center;
}

ul.skills{
    text-align: left;
}

ul.skills li{
  margin-bottom: 1rem;
}

.language-row{
    display: flow-root;
}

.language-row>h6{
    float:left;
}
.language-row>p{
    right:0;
    float:right;
}


  .col-bar#interests{
      text-align: center;
  }

i.far{
    margin-right: 10px;
}

h2.title{
font-weight: 400;
text-transform: uppercase;
/*border-bottom: 2px solid #000;*/
margin-bottom: 20px;
}

.col-section p, .language-row p, ul{
    align-items: flex-end;
    font-weight:300;
}

p.sub-title{
    margin-bottom:0;
    font-weight: 500;
}

p#date, h7{
    font-weight: 500;
    margin-bottom: 0;
}


p#field{
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;
}

p b{
font-weight:500;
}

br{
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 7px; /* change this to whatever height you want it */
}


@media screen and (max-width: 960px) {
    .contain{
        max-width: 90%;
        padding:0 6.1vw;
    }
    .col-line {
      margin-bottom: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .col-left{
        color: #000;
    }
    .box-title{
        text-align:center;
    }

    .col, .col-md-12{
padding: 25px 0 25px 0;
  }
}

