

.container{
    margin: 0 10vw;
    display:inline-flex;
    justify-content: center;
    overflow: visible;
}

#frame1280{
    padding:0 2px;
    float:left;
width: 39.035%;
}

#frame960{
    padding:0 2px;
    float: left;
    width: 21.93%;
}

.container img{
    transition: 0.3s;
}

.container img:hover{
    transform: scale(103%);
    box-shadow: 0px 0px 7px 0px rgba(37, 44, 46, 0.3);
    transition: 0.3s;

}

.mphotos, .dphotos, .aphotos, .gphotos, .bnwphotos{
    margin-bottom: 20px;
}

#img-bnw, #frame-crop, #img-g {
    padding:0 2px;
}