Options +MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

Redirect 301 https://yassineelidrissi.com/?utm_source=web&utm_medium=cv&utm_campaign=qr https://yassineelidrissi.com
